@model IEnumerable<E_waste.Areas.Identity.Data.Product>

@{
    ViewData["Title"] = "Index";
}
<div style="width: 1280px;margin-left: -5rem;">
    <h1>Marketplace</h1>

    <p>
        <a asp-action="AddOrEdit"> Post product </a>
    </p>
    <table class="table" >
        <thead>
            <tr>
                <th style="width:106px;">
                    @Html.DisplayNameFor(model => model.ListedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th style="width:142px;">
                    @Html.DisplayNameFor(model => model.PickupLocation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContactNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th style="width:142px;">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VideoUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhotoUrl)
                </th>
                <th>
                </th>
                <th>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ListedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PickupLocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VideoUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhotoUrl)
                </td>
                <td id="td_Request">
                        <a asp-action="Request" asp-route-id="@item.ProductId">Request</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
